body
{
    font-family: Calibri,Tahoma,sans-serif;
    font-size: 14px;

    max-width: 950px;
    margin: 0 auto 33%;

    color: #555;
    background-color: #fff;
}

article
{
    max-width: 770px;
    margin-left: 180px;
}

h1
{
    color: #379;
}

header
{
    position: fixed;
    z-index: 1;
    top: 0;

    width: 790px;
    padding: 0 1em .5em 170px;

    border-radius: 0 0 13px 13px;
    background: #fff;
    box-shadow: 0 0 15px #777;
}

header h1
{
    display: inline-block;

    margin: 0 2em 0 -1.6em;
}

header .topmenu
{
    display: inline-block;

    margin: 0;
    padding: 0;
}

header .topmenu #gold,
header .topmenu a
{
    font-weight: 100;
    font-style: normal;

    cursor: pointer;
    text-decoration: underline;

    color: #379;

    text-decoration-line: dashed;
}

header .topmenu li
{
    display: inline-block;

    margin-right: 1em;
}

header .topmenu select
{
    margin: 0;
    padding: .15em;

    color: #379;
    border: 1px solid;
    border-color: rgba(68,136,255,.1);
}

header .topmenu .btn
{
    width: 1.5em;
    height: 1.5em;
    margin: 0;
}

nav#toc
{
    font-size: 13px;

    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
}

.php-logo
{
    font-size: 0;

    display: block;

    width: 120px;
    height: 70px;
    margin: 0 0 0 10px;

    text-decoration: none;

    color: transparent;
    background: url(../img/b2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hide
{
    display: none;
}

form .btn
{
    font-size: 1.2em;
    line-height: 1em;

    padding: .1em;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: .2em;
    background: rgba(0,68,136,.1);
}

.filterForm
{
    width: 120px;
    margin: 0 auto;

    white-space: nowrap;

    border: 1px solid rgba(0,68,136,.1);
}

.filterForm .btn
{
    width: 1.2em;
    height: 1.1em;
}

.filterForm #filterText
{
    font-size: 1.2em;
    font-weight: 700;

    width: 95px;

    text-align: center;

    color: #379;
    border: none;
}

.phpinfo-nav
{
    position: fixed;
    top: 70px;
    bottom: 0;

    width: 150px;
    padding-left: 1.2em;
}

.phpinfo-nav ul
{
    overflow: auto;

    height: 95%;
    margin: 0;
    padding: .5em 0;

    list-style: none;
}

.phpinfo-nav .shade
{
    position: absolute;

    display: block;

    height: .5em;
    margin: 0;
    padding: 0;

    border: 0;
    background: #fff;
}

.phpinfo-nav .shade .top
{
    top: 0;

    box-shadow: 0 0 10px #fff;
}

.phpinfo-nav .shade .bottom
{
    bottom: 0;

    box-shadow: 0 0 10px #fff;
}

.phpinfo-nav a
{
    display: inline-block;

    padding: .05em .5em;

    text-decoration: none;

    color: #37c;
}

.phpinfo-nav a:hover
{
    text-decoration: underline;
    text-decoration: dashed;
}

.phpinfo-nav li
{
    padding: 0 0;

    border-bottom: 1px solid rgba(0,68,136,.1);
}

.phpinfo-nav li:nth-child(odd)
{
    background-color: rgba(68,136,255,.1);
}

.phpinfo-section
{
    padding: 5em 0 0 0;
}

.phpinfo-section h2
{
    position: relative;

    margin: 0 0 0 -10px;

    color: #379;
}

.phpinfo-section .mark
{
    font-size: 1.5em;

    position: absolute;
    top: 0;
    right: .5em;

    display: inline-block;

    text-decoration: none;

    opacity: .3;
    color: #444;
}

.phpinfo-section .mark:hover
{
    opacity: 1;
}

.phpinfo-section table
{
    margin: .5em auto;

    table-layout: auto;
    border-collapse: collapse;

    text-align: left;
}

.phpinfo-section td
{
    padding: .2em .5em;

    vertical-align: top;

    border-bottom: 1px solid #39a;
}

.phpinfo-section td:nth-child(1)
{
    font-weight: 700;

    white-space: nowrap;
}

.phpinfo-section td:nth-child(2)
{
    word-break: break-word;
}

.phpinfo-section tr:nth-child(odd) td
{
    background-color: #cdf;
}

::-webkit-scrollbar
{
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-button
{
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb
{
    border: 0 none transparent;
    border-radius: 50px;
    background: rgba(68,136,255,.1);
}

::-webkit-scrollbar-track
{
    border: 0 none #fff;
    border: 1px solid rgba(68,136,255,.1);
    border-radius: 50px;
    background: 0 0;
}

::-webkit-scrollbar-track:hover
{
    background: rgba(68,136,255,.1);
}

::-webkit-scrollbar-track:active
{
    background: rgba(68,136,255,.1);
}

::-webkit-scrollbar-corner
{
    background: 0 0;
}

.golden h1
{
    color: #c90;
}

.golden header .topmenu #gold,
.golden header .topmenu a
{
    color: #c90;
}

.golden header .topmenu select
{
    color: #c90;
    border-color: rgba(204,153,0,.2);
}

.golden .php-logo
{
    background-image: url(../img/g1.png);
}

.golden form .btn
{
    background: rgba(204,153,0,.2);
}

.golden .filterForm
{
    border-color: rgba(204,153,0,.3);
}

.golden .filterForm #filterText
{
    color: #c90;
}

.golden .phpinfo-nav
{
    border-right-color: transparent;
}

.golden .phpinfo-nav li
{
    border-bottom-color: rgba(204,153,0,.3);
}

.golden .phpinfo-nav li:nth-child(odd)
{
    background-color: rgba(204,153,0,.2);
}

.golden .phpinfo-nav a
{
    color: #c90;
}

.golden .phpinfo-section h2
{
    color: #c90;
}

.golden .phpinfo-section .mark
{
    color: #444;
}

.golden .phpinfo-section td
{
    border-bottom-color: #c90;
}

.golden .phpinfo-section tr:nth-child(odd) td
{
    background-color: rgba(204,153,0,.3);
}

.golden ::-webkit-scrollbar-thumb
{
    background: rgba(204,153,0,.3);
}

.golden ::-webkit-scrollbar-track
{
    border-color: rgba(204,153,0,.3);
}

.golden ::-webkit-scrollbar-track:hover
{
    background: rgba(204,153,0,.3);
}

.golden ::-webkit-scrollbar-track:active
{
    background: rgba(204,153,0,.3);
}

/*# sourceMappingURL=info.css.map */
