body{background-color:#fff;color:#555;font-family:Calibri,Tahoma,sans-serif;font-size:14px;margin:0 auto 33%;max-width:950px}
article{margin-left:180px;max-width:770px}
header{background:#fff;border-radius:0 0 13px 13px;box-shadow:0 0 15px #777;padding:0 1em .5em 170px;position:fixed;top:0;width:790px;z-index:1}
h1{color:#379;margin:0 0 0 -1.6em}
#gold{color:#c90;cursor:pointer;text-decoration:underline;text-decoration-line:dashed;font-size:.5em;font-style:normal;font-weight:100;vertical-align:super}
nav{bottom:0;font-size:13px;position:fixed;top:0;z-index:2}
.php-logo{background:url(../img/b2.png);color:transparent;display:block;font-size:0;height:70px;margin:0 0 0 10px;text-decoration:none;width:120px;background-repeat:no-repeat;background-position:center}
.hide{display:none}
.filterForm{border:1px solid rgba(0,68,136,.1);width:120px;margin:0 auto;white-space:nowrap}
.filterForm #filterText{font-size:1.2em;font-weight:700;border:none;width:95px;color:#379;text-align:center}
.filterForm .btn{border:none;color:#fff;padding:.1em;border-radius:.2em;cursor:pointer;font-size:1.2em;line-height:1em;background:rgba(0,68,136,.1)}
.phpinfo-nav{bottom:0;padding-left:1.2em;position:fixed;top:70px;width:150px}
.phpinfo-nav ul{overflow:auto;list-style:none;padding:.5em 0;margin:0;height:95%}
.phpinfo-nav .shade{border:0;margin:0;padding:0;display:block;height:.5em;position:absolute;background:#fff}
.phpinfo-nav .shade .top{box-shadow:0 0 10px #fff;top:0}
.phpinfo-nav .shade .bottom{box-shadow:0 0 10px #fff;bottom:0}
.phpinfo-nav a{color:#37c;padding:.05em .5em;text-decoration:none;display:inline-block}
.phpinfo-nav a:hover{text-decoration:underline;text-decoration:dashed}
.phpinfo-nav li{border-bottom:1px solid rgba(0,68,136,.1);padding:0 0}
.phpinfo-nav li:nth-child(odd){background-color:rgba(68,136,255,.1)}
.phpinfo-section{padding:5em 0 0 0}
.phpinfo-section h2{color:#379;margin:0 0 0 -10px;position:relative}
.phpinfo-section .mark{color:#444;display:inline-block;font-size:1.5em;opacity:.3;position:absolute;right:.5em;text-decoration:none;top:0}
.phpinfo-section .mark:hover{opacity:1}
.phpinfo-section table{border-collapse:collapse;margin:.5em auto;table-layout:auto;text-align:left}
.phpinfo-section td{border-bottom:1px solid #39a;padding:.2em .5em;vertical-align:top}
.phpinfo-section td:nth-child(1){font-weight:700;white-space:nowrap}
.phpinfo-section td:nth-child(2){word-break:break-word}
.phpinfo-section tr:nth-child(odd) td{background-color:#cdf}
::-webkit-scrollbar{width:9px;height:9px}
::-webkit-scrollbar-button{width:0;height:0}
::-webkit-scrollbar-thumb{background:rgba(68,136,255,.1);border:0 none transparent;border-radius:50px}
::-webkit-scrollbar-track{background:0 0;border:0 none #fff;border:1px solid rgba(68,136,255,.1);border-radius:50px}
::-webkit-scrollbar-track:hover{background:rgba(68,136,255,.1)}
::-webkit-scrollbar-track:active{background:rgba(68,136,255,.1)}
::-webkit-scrollbar-corner{background:0 0}
.golden h1{color:#c90}
.golden .php-logo{background-image:url(../img/g1.png)}
.golden .filterForm{border-color:rgba(204,153,0,.3)}
.golden .filterForm #filterText{color:#c90}
.golden .filterForm .btn{background:rgba(204,153,0,.2)}
.golden .phpinfo-nav{border-right-color:transparent}
.golden .phpinfo-nav li{border-bottom-color:rgba(204,153,0,.3)}
.golden .phpinfo-nav li:nth-child(odd){background-color:rgba(204,153,0,.2)}
.golden .phpinfo-nav a{color:#c90}
.golden .phpinfo-section h2{color:#c90}
.golden .phpinfo-section .mark{color:#444}
.golden .phpinfo-section td{border-bottom-color:#c90}
.golden .phpinfo-section tr:nth-child(odd) td{background-color:rgba(204,153,0,.3)}
.golden ::-webkit-scrollbar-thumb{background:rgba(204,153,0,.3)}
.golden ::-webkit-scrollbar-track{border-color:rgba(204,153,0,.3)}
.golden ::-webkit-scrollbar-track:hover{background:rgba(204,153,0,.3)}
.golden ::-webkit-scrollbar-track:active{background:rgba(204,153,0,.3)}
/*# sourceMappingURL=info.css.map */